@{
    Layout = "_LayoutCustomer";
}

@RenderSection("BreadCum", required: false)

<div class="container-fluid fruite py-5">
    <div class="container">
        <h1 class="mb-4">ShopMVC</h1>
        <div class="row g-4">
            <div class="col-lg-3">
                @* Phần Menu Loại *@
                @if (Context.User.Identity.IsAuthenticated){
                    <div class="row g-4">
                        <div class="col-lg-12">
                            @await Component.InvokeAsync("MenuType")
                        </div>
                    </div>
                    @* Phần Tìm kiếm *@
                    <div class="row g-4">
                        <div class="col-lg-12">
                            @await Html.PartialAsync("_SearchPanel")
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-9">
                <div class="row g-4 justify-content-center">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
