<form asp-action="Search" asp-controller="Product" class="mb-4">
    <div class="input-group">
        <input type="search" class="form-control p-3" placeholder="Searching..." aria-describedby="search-icon-1" name="query">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>
